.daily-details {
  .title-details {
    font-size: 1.4rem;
  }

  .cards {
    display: grid;
    margin-top: 1.5rem;
    gap: 1rem;

    .card-hourly {
      display: flex;
      justify-content: space-between;
      padding: 0.4rem 1.6rem 1.4rem 1.6rem;
      background-color: #bbcef1;
      border-radius: 10px;
      box-shadow: 0 4px 10px -2px #0000008c;

      .detail-hours {
        padding-top: 1rem;
        .hour {
          font-size: 1.2rem;
        }

        .detail-container {
          display: flex;
          justify-content: space-between;
          gap: 2rem;
          padding-top: 1rem;
        }
      }

      .weather-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .hourly-icon {
          display: flex;
          justify-content: center;
          width: 100px;
        }

        .icon-description {
          text-transform: capitalize;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

@media (min-width: 640px) {
  .daily-details {
    .cards {
      .card-hourly {
        padding: 1rem 4rem 2rem 4rem;
      }
    }
  }
}

@media (min-width: 1280px) {
  .daily-details {
    .cards {
      display: grid;
      grid: auto / repeat(2, 1fr);
      gap: 2rem;
    }
  }
}
